<div class="box">
	<div class="title">
		<h1>Search results for: {{originalQuery}}</h1>

	</div>
	<div class="paragraph">
		<p>Here are the results!</p>
		<p>Feel free to add your own spots and photos, available after creating your Apex account</p>
	</div>
</div>

{{!-- <iframe
  class="gmaps"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZqSs1GmWOponHmh8rtwhudSUJqZ6-wkc
    &q={{userQuery}}" >
</iframe> --}}

<div id="map-search">
	
</div>



